@media screen and (max-width:567px) {

    section {
        margin-top: 40%;
    }

    img {
        width: 200px;
    }

    h1 {
        font-size: 35px;
    }
}

@media screen and (max-width:509px) {

    section {
        margin-top: 50%;
    }

    img {
        width: 180px;
    }

    h1 {
        font-size: 25px;
    }
}

@media screen and (max-width:403px) {

    section {
        margin: 70px auto;
    }

    img {
        width: 200px;
    }

    h1 {
        font-size: 25px;
    }

    .perfils {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width:303px) {}