@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.display {
    display: none;
    position: absolute;
    top: -50px;
    opacity: 0;
    z-index: 999;
    animation: slide-in 0.8s ease-in-out forwards;
}

@keyframes slide-in {
    from {
        top: 0px;
        opacity: 0;
    }

    to {
        top: -50px;
        opacity: 1;
    }
}

.containerForm {
    border-radius: 6px;
    padding: 20px;
    background-image: linear-gradient(180deg, #fc2c1d 30%, rgb(245, 244, 244)0%);
    /* background-image: linear-gradient(to top, rgb(0, 0, 61), ); */
    position: fixed;
    bottom: 90px;
    right: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    width: 355px;
    height: 525px;

}

.form-conteudo {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(165, 165, 165);
    border-left: 5px solid #fa2d1e;
    color: black;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
}

.header-form h1 {
    text-align: center;
    top: -15px;
    font-size: 20px;
    position: relative;

}

.entreEmContato {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 999;
}

.entreEmContato {
    width: 120px;
}



.enviado {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: rgb(2, 204, 2);
}

.msg {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: rgb(250, 3, 3);
}

.content {
    color: #525252;
    margin-top: 20px;
    border: none;
}

.input-is {
    margin-bottom: 15px;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(185, 185, 185);
    color: #080808;
}

.input-is:hover {
    outline: none;
    border-bottom: 2px solid #f44336;
}

.input-is:focus {
    outline: none;
    border-bottom: 2px solid #fc2819;
}



.input-is::placeholder {
    color: hsl(0, 0%, 51%);
    font-size: 14px;
}

.enviar {
    border-radius: 8px;
    height: 40px;
    background-color: #f44336;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
    border: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.enviar img {
    width: 25px;
}

.enviar:hover {
    color: #ffffff;
    background-color: #f12e20;
}