.fundoLoad {
    width: 100vw;
    height: 100vh;
    background-color: rgb(12, 12, 12);
    z-index: 1900;
    position: fixed;
    top: 0;
    left: 0;
}

.loader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 15px;
    background-color: rgb(2, 2, 17);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1999;

}

.shape {
    width: 50px;
    height: 15px;
    background-image: linear-gradient(144deg, #f70000, #df0000de 50%, #eb0000);
    border-radius: 25px;
    position: absolute;
    animation: slide 1.9s linear infinite;
    background-size: 200%;
}

@keyframes slide {
    0% {
        left: 0;
    }

    50% {
        left: calc(100% - 50px);
    }

    100% {
        left: 0;
    }
}

@keyframes gradientChange {

    0%,
    100% {
        background-image: linear-gradient(144deg, #ff4040, #f34242 50%, #00DDEB);
    }

    50% {
        background-image: linear-gradient(144deg, #eb0000, #f34242 50%, #AF40FF);
    }
}