@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 2px;
    height: 1px;
    background-color: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(169, 1, 1);
    border-radius: 10px;
}

body {
    width: 100%;
    height: 100%;
    background: rgb(11, 11, 11);
}

article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: move .5s linear;
}

@keyframes move {
    from {
        bottom: 50%;
    }

    to {
        bottom: 35%;
    }
}

section {
    width: 800px;
    animation: move .5s linear;
    margin-bottom: 50px;
    color: rgb(196, 196, 196);
}

.proSpan {
    background: linear-gradient(to right, #6e0101, #ff3333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px !important;
}

section p {
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(196, 196, 196);
}

.card-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    width: 700px;
    height: 500px;
    gap: 50px;
    color: rgb(197, 214, 221);
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    margin: 0 auto;
}

.beneficios {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 30px;
    color: rgb(158, 157, 157);
    font-size: 17px;
}

.price h1 {
    margin-bottom: -2px;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    height: 180px;
    position: relative;
    top: 25%;
    left: 10px;
}

.price h1 {
    background: linear-gradient(to right, #6e0101, #ff3333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}

.containerPrice {
    height: 100%;
    padding-left: 15px;
    border-left: 1px solid rgb(36, 36, 36);
}

.priceNumber {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rs {
    margin-right: 5px;
    color: rgb(158, 157, 157);
    font-size: 13px;
    font-weight: bold;
}

.number {
    color: rgb(197, 214, 221);
    font-size: 38px;
}

.mes {
    color: rgb(158, 157, 157);
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}

.vista {
    font-weight: bold;
    color: rgb(158, 157, 157);
    font-size: 17px;
}

.pro {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #cc0e0e;
    color: rgb(197, 214, 221);
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    transition: all .5s ease-in-out;
}

.pro:hover {
    transition: all .5s ease-in-out;
    background-color: rgb(121, 1, 1);
    color: rgb(197, 214, 221);

}